<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.aitransform.mapper.CoursePlanningInfoMapper">

    <!-- 查询所有课程规划明细数据 -->
    <select id="getAllCoursePlanningInfo" resultType="com.huawei.aitransform.entity.CoursePlanningInfoVO">
        SELECT 
            id,
            big_type AS bigType,
            syb_type AS sybType,
            course_name AS courseName,
            course_link AS courseLink,
            credit,
            course_status AS courseStatus,
            knowledge_point AS knowledgePoint,
            course_explain AS courseExplain,
            study_duration AS studyDuration,
            course_level AS courseLevel,
            in_class_test AS inClassTest,
            course_number AS courseNumber
        FROM ai_course_planning_info
        ORDER BY id
    </select>

    <!-- 查询所有部门选课信息 -->
    <select id="getAllDeptSelections" resultType="com.huawei.aitransform.entity.DeptCourseSelection">
        SELECT 
            dept_code AS deptCode,
            dept_name AS deptName,
            course_selections AS courseSelections
        FROM dept_course_selections
    </select>

    <!-- 根据部门编码查询部门选课信息 -->
    <select id="getDeptSelectionByDeptCode" resultType="com.huawei.aitransform.entity.DeptCourseSelection">
        SELECT 
            dept_code AS deptCode,
            dept_name AS deptName,
            course_selections AS courseSelections
        FROM dept_course_selections
        WHERE dept_code = #{deptCode}
        LIMIT 1
    </select>

</mapper>


