<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.aitransform.mapper.PersonalCreditMapper">

    <resultMap id="BaseResultMap" type="com.huawei.aitransform.entity.PersonalCredit">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="employee_number" property="employeeNumber" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="lowest_dept_number" property="lowestDeptNumber" jdbcType="VARCHAR"/>
        <result column="lowest_dept" property="lowestDept" jdbcType="VARCHAR"/>
        <result column="target_credit" property="targetCredit" jdbcType="DECIMAL"/>
        <result column="current_credit" property="currentCredit" jdbcType="DECIMAL"/>
        <result column="personal_credit_completion_rate" property="personalCreditCompletionRate" jdbcType="DECIMAL"/>
        <result column="dept_benchmark_completion_rate" property="deptBenchmarkCompletionRate" jdbcType="DECIMAL"/>
        <result column="credit_completion_date" property="creditCompletionDate" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, employee_number, last_name, lowest_dept_number, lowest_dept, 
        target_credit, current_credit, personal_credit_completion_rate, 
        dept_benchmark_completion_rate, credit_completion_date, create_time, update_time
    </sql>

    <select id="getByEmployeeNumber" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM t_personal_credit
        WHERE employee_number = #{employeeNumber}
    </select>

    <insert id="insertOrUpdate" parameterType="com.huawei.aitransform.entity.PersonalCredit">
        INSERT INTO t_personal_credit (
            employee_number, last_name, lowest_dept_number, lowest_dept,
            target_credit, current_credit, personal_credit_completion_rate,
            dept_benchmark_completion_rate, credit_completion_date, create_time, update_time
        ) VALUES (
            #{employeeNumber}, #{lastName}, #{lowestDeptNumber}, #{lowestDept},
            #{targetCredit}, #{currentCredit}, #{personalCreditCompletionRate},
            #{deptBenchmarkCompletionRate}, #{creditCompletionDate}, NOW(), NOW()
        )
        ON DUPLICATE KEY UPDATE
            last_name = VALUES(last_name),
            lowest_dept_number = VALUES(lowest_dept_number),
            lowest_dept = VALUES(lowest_dept),
            target_credit = VALUES(target_credit),
            current_credit = VALUES(current_credit),
            personal_credit_completion_rate = VALUES(personal_credit_completion_rate),
            dept_benchmark_completion_rate = VALUES(dept_benchmark_completion_rate),
            credit_completion_date = IF(VALUES(credit_completion_date) IS NOT NULL, VALUES(credit_completion_date), credit_completion_date),
            update_time = NOW()
    </insert>

    <update id="updateBenchmarkRateByDept">
        UPDATE t_personal_credit
        SET dept_benchmark_completion_rate = #{benchmarkRate},
            update_time = NOW()
        WHERE lowest_dept_number = #{lowestDeptNumber}
    </update>

    <select id="getMaxCompletionRateByDept" resultType="java.math.BigDecimal">
        SELECT MAX(personal_credit_completion_rate)
        FROM t_personal_credit
        WHERE lowest_dept_number = #{lowestDeptNumber}
    </select>

    <select id="getAllLowestDeptNumbers" resultType="java.lang.String">
        SELECT DISTINCT lowest_dept_number
        FROM t_personal_credit
        WHERE lowest_dept_number IS NOT NULL AND lowest_dept_number != ''
    </select>

</mapper>
